MovieShop/bin/
MovieShop/obj/
MovieShop/.vscode
.vs
Generated\ Files/
BoardRent_A1+A2/BoardRent.Core/bin/
BoardRent_A1+A2/BoardRent.Core/obj/
BoardRent_A1+A2/BoardRent.Tests/bin/
BoardRent_A1+A2/BoardRent.Tests/obj/

